.wrap-sub{
    width: 100%;
    height: 100%;
    text-decoration: none;
    overflow: hidden;
    overflow-y: scroll;
}

.topicItem{
    width: 100%;
    height: 290px;
    margin-bottom: 20px;
    background: #fff;
    display: block;
}
.topicItem>img{
    width: 100%;
    height: 200px;
   
}
.topicItemPrice{
    display: 100%;
    height: 5.8rem;
    margin-top: .2rem;
    background: #fff;
    display: block;
}
.topicItemPrice {
    padding: 5px 5px 10px;
    font-size: 14px;
    text-align: center;
    color: red;
    line-height: 15px;
    height: 15px;
}
.topicItemPrice>img {
    width: 100%;
    height: 200px;
}
 .topicItemTitle {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 5px 5px;
    font-size:15px;
    line-height: 20px;
    height: 20px;
}
.topicItemSubtitle {
    padding:5px 10px;
    font-size: 13px;
    color: grey;
    height: 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
