.sectionTitle {
  font-weight: 500;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  background: url(https://mat1.gtimg.com/news/images/inews/2020/feiyan/18/img/smart.png) 20px center no-repeat;
  padding: 0 35px;
  color: #005dff;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hotzhuizhong {
  width: 88px;
  height: 24px;
  background: url(https://mat1.gtimg.com/news/signin/v6/zhuizong.png);
  background-size: 100% 100%;
  margin-right: 97px;
}

.singleNew {
  font-size: 14x;
  line-height: 23px;
  padding: 20px 20px 0px 15px;
  margin-left: 24px;
  max-width: 705px;
  position: relative;
}

.timeIcon {
  position: absolute;
  left: -7px;
  top: 23px;
  background: url(https://puui.qpic.cn/vupload/0/1580094612259_xhuwv0n93di.png/0);
  width: 10px;
  height: 10px;
  background-size: 100% 100%;
}

.singleNew .times {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #222;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 14px;
}

.singleNew .pass {
  font-size: 14px;
  line-height: 14px;
  height: 14px;
  position: relative;
  font-weight: 500;
  color: #737373;
}

.news_box {
  background: #fff;
  border-radius: 6px;
}

.news_box .title {
  color: #222222;
  font-weight: 500;
  font-size: 16px;
  padding: 20px 20px 0 40px;
  line-height: 1.5;
}

.news_box .desc {
  padding: 15px 20px;
  line-height: 20px;
  color: #737373;
  font-weight: normal;
  font-size: 14px;
}

.news_box .source {
  color: #222222;
  list-style: height 14px;
  padding: 0px 20px 20px 20px;
  font-weight: normal;
  font-size: 14px;
}
