.brandDetailWrap {
    .brandDetailBox{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #eee;
    
    .bannerTitle{
        width: 100%;
        height: 50px;      
        background: #fff;
        margin-bottom: 5px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        flex-shrink: 0;
        align-items: center;
    box-sizing: border-box;
    }
    .bannerPic {
        width: 100%;
        height: 200px;
        img{
            width: 100%;
            height: 100%;
        }
    }
     .breadDesc {
        width: 100%;
        height: 100px;
        line-height: 20px;
        padding: 10px;
        background: #fff;
        text-indent: 2em;
        color: grey;
        box-sizing: border-box;
    }
}
.goodListWrap{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    background:#fff;
    padding: 0 3px;
    margin-top:10px;
    .goodItem{
        width: 49%;
        height: 230px;
        display:flex;
        flex-direction:column;
        padding: 5px;
        box-sizing:border-box;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .goodPic{
            width: 100%;
            height: 170px;
        }
       .goodName{
           width: 100%;
           height: 30px;
           line-height: 30px;
           text-align:center;
       }
       .goodPrice{
           width: 100%;
           height: 20px;
           text-align:center;
           line-height: 20px;
           color: crimson;
       }
}
}